.logo {
	width: 35px;
	height: 35px;
}

body {
	background-image: url("../images/background_vintage.png");
	margin: 0 auto;
	font-family: "Arial", "Helvetica Neue", Helvetica, Sans-serif;
}

#body {
	width: 960px;
	margin: 0 auto;
	color: #777777;
}

section {
	width: 960px;
	margin:auto;
}

#Profile_picture{
	float: left;
	padding-right: 20px;
}

h2 {
	color: #4aaaa5;
	border-bottom: 2px solid #cccccc;
	font-weight: bold;
	font-family: "Georgia", "Times New Roman", Times, Serif;
}

.main-head {
	font-size: 30px;
	padding-bottom: 20px;
	margin-bottom: 20px;

}
#header {
	width: 960px;
}

.side-head {
	font-size: 20px;
	padding-bottom: 15px;
	margin-bottom: 20px;
}

.left-float {
	float: left;
	width: 610px;
	padding: 20px;
	line-height: 1.6em;
}

.border-right {
	border-right: 1px solid #cccccc;
}
.right-float {
	float: right;
	width: 230px;
	padding: 20px;

}
nav {
	padding-top: 40px;
}

.float {
	border: 1px solid #cccccc;
	background-color: #ffffff;
	margin-bottom: 30px;
}
.nav-head {
	background-color: #ffffff;
	height: 90px;
	text-align: right;
	margin-bottom: 30px;
	border-bottom: 2px solid #cccccc;
}

a {
	color: #777777;
	text-decoration: none;
	padding: 0px 10px;
}


#name {
	font-family: "Georgia", "Times New Roman", Times, Serif;
	background-color: #4aaaa5;
	color: #ffffff;
	width: 250px;
	padding-top: 32.5px;
	padding-bottom: 32.5px;
	font-size: 25px;
	float: left;
	font-weight: bold;
	text-align: center;

}

footer {
	clear: both;
	background-color: #666666;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	border-top: 5px solid #4aaaa5;
	margin-top: 30px;
	color: #cccccc;

}


button {
	background-color: #4aaaa5;
	color: white;
	border: 0px;
	padding: 10px 20px;
	margin-top: 10px;
	font-size: 14px;
}

input {
	width: 600px;
	height: 25px;
	color:#777777;
	padding: 2px;
	font-size: 14px;
}

#message-input {
	height: 200px;
}

.portfolio-img {
	float: left;
	padding:20px;
}

.img-container {
	position: relative;
	float: left;
}

.description {
	position: absolute;
	bottom: 30px;
	left: 20px;
	width: 260px;
	background-color: #4aaaa5;
	text-align: center;
	height: 40px;
	color: white;
	font-size: 20px;
	font-family: "Georgia", "Times New Roman", Times, Serif;	
	padding-top: 10px;
}

